.wrapper {
    display: flex;
    flex-direction: column;
    /*width: 100%;*/
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;

}

.label{
    display: flex;
    /*width: 100%;*/
    align-content: stretch;
    justify-content: space-between;
    margin: 0;


}
.input {
    align-self: flex-end;
    /*margin-left: 20px;*/
    width: 250px;
    margin-bottom: 20px;

}
.button {
    margin-top: 6px;
    padding: 4px 8px;
    background-color: #B3B2B1;
    color: red;
    border: none;
    font-variant: all-small-caps;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}