@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin:0;

    box-sizing: border-box;
}
body {
    font-family: 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen', sans-serif;
    background-color: #CCCBCB;
}
